{% extends 'core/base.html' %}

{% block title %}Contact{% endblock title %}

{%block background %}{%load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock background %}

{% block h%}Contacto{% endblock h %} 

{% block subtitle %}Asesoria{% endblock subtitle %}

{% block content %}
   <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Muy buenas a todos, aquí Goku666: Salve Satanas. In nomine die nostri Satanas Lucifer excelsi... ¡Ahhh, que os he pillao! :v</p>
          <br>
          <p><b>Teléfono:</b> 01 800 que te valga</p>
          <p><b>Honorarios:</b> $6000/h (Precio base)</p>
        </div>
      </div>
    </div> 
{% endblock content %}
